## Change delimiters for Cheetah
#compiler-settings
cheetahVarStartToken = ;
directiveStartToken = !
#end compiler-settings

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% WARNING: &warning
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

% LaTeX file for resume 
% This file uses the resume document class (res.cls)

\documentclass[margin]{res}

%\usepackage{t1enc}  % allow accents
%\usepackage[utf8]{inputenc} 

\topmargin=-0.5in  % start text higher on the page
\setlength{\textheight}{11in} % increase text height to fit resume on 1 page
\small\begin{document}
%\name{\textbf{;contact.name}} 
\address{\textbf{;contact.name} \\
         ;contact.location \\
         ;contact.email \\
         ;contact.phone \\
         ;contact.linkedin \\
         ;contact.github \\
         ;contact.twitter }

\begin{resume}
\section{Summary}
!for ;item in ;summary
    ;item \\
!end for

\section{Skills Base}
!for ;key, ;value in ;skills.items()
    \textbf{;key}: \textit{;value} \\
!end for

\section{Experience}
!for ;job in ;work
  \textbf{;job.employer} \hfill \textbf{;job.dates}\\
  \textit{;job.title} \hfill \textit{;job.location}\\
  \begin{description}
    \item{\textbf{Description}: \textit{;job.description}}
    \item{\textbf{Technologies}: \textit{;job.technologies}}
    \item{
      \textbf{Activities}:
      \begin{itemize}
      !for ;item in ;job.activities
        \item{\textit{;item}}
      !end for
      \end{itemize}
    }
    !if ;job.projects != "None"
    \item{
      \textbf{Projects}:
      \begin{itemize}
      !for ;item in ;job.projects
        \item{\textit{;item}}
      !end for
      \end{itemize}
    }
    !end if
  \end{description}

!end for

\pagebreak
\section{Education}
!for ;degree, ;schools in ;education.items()
    \textit{;degree} \\
    !for ;school in ;schools
      ;school.dates at {;school.school} \hfill {;school.location} \\
    !end for
    \\
!end for

\section{Additional Training}
!for ;course in ;training
    ;course.year \textit{;course.title} at {;course.school} \\
!end for

\section{Languages} 
!for ;key, ;value in ;languages.items()
    \textbf{;key}: \textit{;value} \\
!end for

\section{Volunteering}
!for ;action in ;volunteering
    ;action.year \textit{;action.title}: {;action.description} \\
!end for

\end{resume} 
\end{document}
